<form class="search-form" id="search-form">
  <input
    type="text"
    name="searchQuery"
    autocomplete="off"
    placeholder="Search images..."
  />
  <button data-ripple="once" type="submit" class="btn btn-primary" >Search</span></button>
</form>
<div class="gallery"></div>
<button data-ripple="once" type="button" class="btn btn-primary load-more">
  <span
    class="spinner-border spinner-border-sm spinner is-hidden"
    role="status"
    aria-hidden="true"
  >
  </span>
  <span class="label">Load more</span></span>
</button>
